{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports"]
}
